.nav-link1{
	color: black;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.nav-link1:hover{
	text-decoration: none;
}
.BackToTop{
	color: Green;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.BackToTop:hover{
	text-decoration: none;
}
.navbar-hrr{
	border: 1px solid #000;
	width: 100%;
}
.mr-auto{
	padding: 15px;
}
.text_color{
	background-color: #959595;
	width: 100%;
	padding: 10px;
}
div > p{
	padding: 15px;
}
#menu{
	padding: 20px;
}